{% if site.data.settings.mailchimp.enable == true %}
<div class="widget widget-subscribe">
  <div class="widget-subscribe__content">
    {% if site.data.settings.mailchimp.mailchimp_title %}
    <h2 class="widget-subscribe__title">{{ site.data.settings.mailchimp.mailchimp_title }}</h2>
    {% endif %}
    {% if site.data.settings.mailchimp.mailchimp_description %}
    <p class="widget-subscribe__description">{{ site.data.settings.mailchimp.mailchimp_description }}</p>
    {% endif %}
  </div>
  <a href="https://www.linkedin.com/in/christian-pouliot-8a7908132/" target="_blank" class="button button--secondary button--big widget-subscribe__button"><i class="fa-brands fa-linkedin"></i> Mon profil LinkedIn</a>
</div>
{% endif %}